/* vietnamese */
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular)'), url('/fonts/NoticiaText-Regular.woff') format('woff');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular)'), url('/fonts/NoticiaText-Regular.woff') format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular)'), url('/fonts/NoticiaText-Regular.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: local('Noticia Text Bold'), local('NoticiaText-Bold)'), url('/fonts/NoticiaText-Bold.woff') format('woff');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: local('Noticia Text Bold'), local('NoticiaText-Bold)'), url('/fonts/NoticiaText-Bold.woff') format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: local('Noticia Text Bold'), local('NoticiaText-Bold)'), url('/fonts/NoticiaText-Bold.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: local('Noticia Text Italic'), local('NoticiaText-Italic)'), url('/fonts/NoticiaText-Italic.woff') format('woff');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: local('Noticia Text Italic'), local('NoticiaText-Italic)'), url('/fonts/NoticiaText-Italic.woff') format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: local('Noticia Text Italic'), local('NoticiaText-Italic)'), url('/fonts/NoticiaText-Italic.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* vietnamese */
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 700;
  src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic)'), url('/fonts/NoticiaText-BoldItalic.woff') format('woff');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 700;
  src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic)'), url('/fonts/NoticiaText-BoldItalic.woff') format('woff');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 700;
  src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic)'), url('/fonts/NoticiaText-BoldItalic.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Symbola';
  src: local('Symbola'), url('/fonts/Symbola.woff') format('woff');
}

body, rss {
    font-family: "Noticia Text", Symbola, serif;
    font-style: normal;
    font-size: 14pt;
    margin: 1em 3em;
    padding:0;
}

/* headings: we can use larger sizes if we use a lighter color.
   we cannot inherit the font-family because header and footer use a narrow font. */

h1, h2, h3, title {
    font-family: inherit;
    font-weight: normal;
}
h1, channel title {
    font-size: 32pt;
    margin: 1em 0 0.5em 0;
    padding: 0.4em 0;
}
h2 {
    font-size: 18pt;
    margin: 2em 0 0 0;
    padding: 0;
}
h3 {
    font-size: inherit;
    font-weight: bold;
    padding: 0;
    margin: 1em 0 0 0;
    clear: both;
}

/* headers in the journal are smaller */

div.journal h1, item title {
    font-size: inherit;
    padding: 0;
    clear: both;
    border-bottom: 1px solid #000;
}
div.journal h2 {
    font-family: inherit;
    font-size: inherit;
}
div.journal h3 {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: italic;
}
div.journal hr {
    visibility: hidden;
}
p.more {
    margin-top: 3em;
}
/* Links in headings appear on journal pages. */

h1 a, h2 a, h3 a {
    color:inherit;
    text-decoration:none;
    font-weight: normal;
} 
h1 a:visited, h2 a:visited, h3 a:visited {
    color: inherit;
}

/* for download buttons and the like */

.button {
    display: inline-block;
    font-size: 120%;
    cursor: pointer;
    padding: 0.4em 0.6em;
    text-shadow: 0px -1px 0px #ccc;
    background-color: #cfa;
    border: 1px solid #9d8;
    border-radius: 5px;
    box-shadow: 0px 1px 3px white inset, 0px 1px 3px black;
}

.button .icon {
    color: #363;
    text-shadow: 0px -1px 1px white, 0px 1px 3px #666;
}

.button a {
    text-decoration: none;
    font-weight: normal;
}

/* links */

a.pencil {
    padding-left: 1ex;
    text-decoration: none;
    color: inherit;
    visibility: hidden;
    transition: visibility 0s 1s, opacity 1s linear;
    opacity: 0;
}
*:hover > a.pencil {
    visibility: visible;
    transition: opacity .5s linear;
    opacity: 1;
}
@media print {
    a.pencil {
	display: none;
    }
}

a.number {
    text-decoration: none;
}

/* stop floating content from flowing over the footer */

hr {
    clear: both;
}

/* the distance between links in the navigation bars */

span.bar a {
    margin-right: 1ex;
}

a img {
    border: none;
}

/* search box in the top bar */

.header form, .header p {
    display: inline;
    white-space: nowrap;
}
label[for="searchlang"], #searchlang, input[type="submit"] {
    display: none;
}
/* wrap on the iphone */
@media media only screen and (max-device-width: 480px) {
}

.header input {
    width: 10ex;
}

/* other form fields */

input {
    padding: 0;
    font-size: 80%;
    line-height: 125%;
}

/* code */

textarea, pre, code, tt {
    font-family: "Andale Mono", Monaco, "Courier New", Courier, monospace, "Symbola";
    font-size: 80%;
}

pre {
    overflow:hidden;
    white-space: pre-wrap;      /* CSS 3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* Internet Explorer 5.5+ */
}

/* styling for divs that will be invisible when printing
   when printing. */

div.header, div.footer, div.near, div.definition, p.comment, a.tag {
    
    font-size: 14pt;
}
div.footer form.search {
    display: none;
}
div.rc li + li {
    margin-top: 1em;
}
div.rc li strong, table.history strong, strong.description {
    font-family: inherit;
    font-weight: inherit;
}
div.diff {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 12pt;
    color: #000;

}
div.old {
    background-color: #ffffaf;
}
div.new {
    background-color: #cfffcf;
}

div.refer {
    padding-left: 5%;
    padding-right: 5%;
    font-size: 12pt;
}

div.message {
    background-color:#fee;
    color:#000;
}

img.xml {
    border:none;
    padding:1px;
}
a.small img {
    max-width:300px;
}
a.large img {
    max-width:600px;
}
div.sister {
    margin-right:1ex;
    background-color:inherit;
}
div.sister p {
    margin-top:0;
}
div.sister hr {
    display:none;
}
div.sister img {
    border:none;
}

div.near, div.definition {
    background-color:#efe;
}

div.sidebar {
    float:right;
    border:1px dotted #000;
    padding:0 1em;
}
div.sidebar ul {
    padding-left:1em;
}

/* replacements, features */

ins {
    color: #b33;
    text-decoration: none;
}
acronym, abbr {
    letter-spacing:0.1em;
    font-variant:small-caps;
}

/* Interlink prefix not shown */
a .site, a .separator {
        display: none;
}
a cite { font:inherit; }
/* browser borkage */
textarea[name="text"] { width:97%; height:80%; }
textarea[name="summary"] { width:97%; height:3em; }
/* comments */
textarea[name="aftertext"] { width:97%; height:10em; }
div.commentshown {
    font-size: 12pt;
    padding: 2em 0;
}
div.commenthidden {
    display:none;
}
div.commentshown {
    display:block;
}
p.comment {
    margin-bottom: 0;
}
div.comment {
    font-size: 14pt;
}
div.comment h2 {
    margin-top: 5em;
}
/* comment pages with username, homepage, and email subscription */
.comment form span { display: block; }
.comment form span label { display: inline-block; width: 10em; }
/* IE sucks */
.comment input#username,
.comment input#homepage,
.comment input#mail { width: 20em; }

/* cal */
div.month { padding:0; margin:0 2ex; }
body > div.month {
    float:right;
    background-color: inherit;
    border:solid thin;
    padding:0 1ex;
}
div.year > div.month {
    float:left;
}
div.footer {
    clear:both;
}
div.content div.month a.edit {
    color:inherit;
    font-weight:inherit;
    text-decoration: none;
}

/* history tables and other tables */
table.history {
    border: none;
}
td.history {
    border: none;
}

table.user {
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em;
    margin: 1em 2em;
}
table.user tr td, table.user tr th {
    border: none;
    padding: 0.2em 0.5em;
    vertical-align: top;
}
table.arab tr th {
    font-weight:normal;
    text-align:left;
    vertical-align:top;
}
table.arab, table.arab tr th, table.arab tr td {
    border:none;
}
th.nobreak {
    white-space:nowrap;
}
table.full { width:99%; margin-left:1px; }
table.j td, table.j th, table tr td.j, table tr th.j, .j { text-align:justify; }
table.l td, table.l th, table tr td.l, table tr th.l, .l { text-align:left; }
table.r td, table.r th, table tr td.r, table tr th.r, .r { text-align:right; }
table.c td, table.c th, table tr td.c, table tr th.c, .c { text-align:center; }
table.t td { vertical-align: top; }
td.half { width:50%; }
td.third { width:33%; }

form table td { padding:5px; }

/* lists */
dd { padding-bottom:0.5ex; }
dl.inside dt { float:left; }
/* search */
div.search span.result { font-size:larger; }
div.search span.info { font-size:smaller; font-style:italic; }
div.search p.result { display:none; }

img.logo {
    float: right;
    margin: 0 0 0 1ex;
    padding: 0;
    border: 1px solid #000;
    opacity: 0.3;
    background-color:#ffe;
}

/* images */

div.content a.feed img, div.journal a.feed img,
div.content a img.smiley, div.journal a img.smiley, img.smiley,
div.content a.inline img, div.journal a.inline img,
div.content li a.image img, div.journal li a.image img { 
    margin: 0; padding: 0; border: none;
}
div.image a img {
    margin-bottom: 0;
}
div.image span.caption {
    margin: 0 1em;
}

img {
    max-width: 100%;
}

.left { float:left; margin-right: 1em; }
.right { float:right; margin-left: 1em; }
.half a img { height: 50%; width: 50%; }
div.left .left, div.right .right {
    float:none;
}
.center { text-align:center; }
table.aside {
    float:right;
    width:40%;
    margin-left: 1em;
    padding: 1ex;
    border: 1px dotted #666;
}
table.aside td {
    text-align:left;
}
div.sidebar {
    float:right; width: 250px;
    text-align: right;
    border: none;
    margin: 1ex;
}

.bigsidebar {
    float:right;
    width: 500px;
    border: none;
    margin-left: 1ex;
    font-size: 80%;
}

dl.irc dt { width:20ex; float:left; text-align:right; clear:left; }
dl.irc dt span.time { float:left; }
dl.irc dd { margin-left:22ex; }

/* portrait */

div.footer, div.comment, hr { clear: both; }
.portrait { float: left; font-size: small; margin-right: 1em; }
.portrait a { color: #999; }

div.left { float:left; margin:1em; padding: 0.5em; }
div.left p { display:table-cell; }
div.left p + p { display:table-caption; caption-side:bottom; }

p.table a { float:left; width:20ex; }
p.table + p { clear:both; }

/* no bleeding
@media screen {
    div.content, div.rc {
	overflow:hidden;
    }
} */

@media print {
    body {
	font-size: 12pt;
	color: #000;
	background-color: #fff;
    }
    
    /* hide all the crap */
    div.diff, div.diff+hr, div.refer, div.near, div.definition, div.sister,
    div.cal, div.footer, span.specialdays, span.gotobar, a.edit, a.number span,
    div.rc form, form.tiny, p.comment, p#plus1, div.g-plusone {
	display:none;
    }
    a,
    a:visited,
    div.content a.near:link, 
    div.content a.near:visited,
    div.content a.near:active {
	color:inherit;
	font-weight: bold;
    }
    div.content a.feed {
	display: none;
    }
    div.content a.book,
    div.content a.movie {
	text-decoration: none;
    }
    a cite {
	font-style: italic;
    }
}

/* rss */
channel * { display: block; }

channel title {
    margin-top: 30pt;
}
copyright {
    font-size: 14pt;
    margin-top: 1em;
}
channel > link:before {
    font-size: 18pt;
    display: block;
    margin: 1em;
    padding: 0.5em;
    content: "This is an RSS feed, designed to be read in a feed reader.";
    color: red;
    border: 1px solid red;
}
link, license {
    font-size: 11pt;
    margin-bottom: 9pt;
}
username:before { content: "Last edited by "; }
username:after { content: "."; }
generator:before { content: "Feed generated by "; }
generator:after { content: "."; }
channel description {
    font-weight: bold;
}
item description {
    font-style: italic;
    font-weight: normal;
    margin-bottom: 1em;
}
docs, language,
pubDate, lastBuildDate, ttl, guid, category, comments,
docs, image title, image link,
status, version, diff, history, importance {
    display: none;
}
