/* Adapted for Oddmuse by Alex Schroeder <alex@emacswiki.org> */
/* Based on the dusty brown theme for wordpress by Noufal Ibrahim <nkv at hcoop dot net> */

body {
    border: solid 2px #565;
    border-top: solid 3px #565;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin: 2ex;
    padding: 0;
    background-color: #edead7;
    color: black;
}

div.content {
    padding: 3ex 7%;
}

div.journal hr { display:none; }

a { color: #675; }
a:visited { color: #342; }
a:hover {
    color: #9a8;
    text-decoration: underline;
}

a img {
    border: none;
}

span.gotobar {
    color: #444;
    width: 70%;
    margin: 10px 0 10px 0;
    padding: 0px;
    text-align: center;
}

span.gotobar a:link {
    color: black;
}

div.header {
    background: #f7eccf;
    border-bottom: 1px solid #d1ccc2;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 1ex;
    text-align: left;
    font-size: small;
}

.left { float:left; }
.right { float:right; }
div.left .left, div.right .right {
    float:none;
}
.center { text-align:center; }


div.header a {
    color: black;
    text-decoration: none;
}

div.footer, span.specialdays {
    font-size: x-small;
    padding: 1ex;
}

div.sister img {
    border:1px solid; margin-top:1ex; margin-left:1ex;
}

div.one, div.two {
    padding: 1ex;
}

div.one {
    background-color:#dddac7;
}

form { padding: 1ex; }
div.footer form { padding: 0; }

div.rc { padding: 1ex; }
div.rc hr { display: none; }

textarea {
    width: 100%;
    height: 80%;
    border: 1px solid #333;
    background-color: #edead7;
}

textarea[name="aftertext"] {
    height: 10em;
}

textarea[name="summary"] {
    height:3em;
}

pre {
    border: 1px solid black;
    background-color: #eee;
    margin-left: 2%;
    padding: 1em;
}

pre span {
    display:none;
}

h2 {
    border-bottom: 1px dotted #ccc;
    letter-spacing: 0.2em;
    margin: 15px 0 2px 0;
    padding-bottom: 2px;
}

h3 {
    border-bottom: dotted 1px #eee;
    font-family: "Times New Roman", Times, serif;
    margin-top: 0;
}

div.month { float:right; margin:0; padding:0 1ex; }
div.footer { clear:both; }
div.year div.month { float:left; }
div.cal { padding: 1ex; }
div.cal pre { margin:0; padding:1ex; border:1px solid #444; background-color:#ffe; }
div.cal a { text-decoration:none; }
div.cal a.edit { color:#666; }
div.cal a.local { font-weight:bold; }
div.cal a.today { background: #e8d9b4; }
div.cal a:hover { background: #e8d9b4; color: #333; }

img.logo { float: right; clear: right; border:1px solid; margin-left:1em; }

div.diff { padding-left:5%; padding-right:5%; }
div.old { background-color:#FFFFAF; }
div.new { background-color:#CFFFCF; }
div.message { background-color:#FEE; }
div.journal h1 { font-size:large; }
table.history { border-style:none; }
td.history { border-style:none; }
table.user { border-style:none; border-width:thin; }
table.user tr td { border-style:none; border-width:thin; padding:5px; }
span.result { font-size:larger; }
span.info { font-size:smaller; font-style:italic; }

@media print {
    span.gotobar, div.footer { display: none; }
    a, a:link, a:visited { color:#000; text-decoration:none; font-style:oblique; }
    h1 a, h2 a, h3 a, h4 a { font-style:normal; }
    a.edit, div.footer, div.refer, form, span.gotobar, a.number span { display:none; }
    a[class="url number"]:after, a[class="inter number"]:after { content:"[" attr(href) "]"; }
    a[class="local number"]:after { content:"[" attr(title) "]"; }
    img[smiley] { line-height: inherit; }
}
