/* Authors: Murray Altheim (2004), Alex Schroeder (2004, 2005, 2006,
   2009, 2020), Bayle Shanks (2006), Lion Kimbro (2006).

This file is in the public domain.

*/

html {
    /* background-color:#becc92; */
    background-color:#def4b5;
    text-align: center;
}

body { /* hue 84 */
    /* Default color for text. It doesn't appear that many places,
       but you'll see it in Recent Changes summary comments, and
       you'll see it in the languages at the bottom of the place;
       It seeps out, here and there. */
    color:#000;
    /* This is the main light green background color. */
    margin:0;
    padding:0;
    font-size: 14pt;
    max-width: 80ex;
    display: inline-block;
    text-align: left;
}

.wrapper {
    padding: 1ex;
}

.languages {
    display: none;
}

@media only screen and (max-width: 1200px) {
    body {
	padding: 5pt;
	font-size: 15pt;
    }
}

@media only screen and (max-width: 800px) {
    body {
	padding: 3pt;
	font-size: 18pt;
    }
}

/* The following statement hides the result count at the end
   of a search page (since most of the time the result per page
   is 10. */
br + p.result { display: none; }
 
body.brown a { color:#550; text-decoration:none; }

a { color:#272; text-decoration:none; font-weight:bold; }
a:active { color:#f00; }
a:visited { color:#550; }
a.near, a.outside, a[class="url number"] {
    text-decoration:underline;
    font-weight:bold;
}
a.tag:before { content:"\2601\ "; }
a.tag { text-decoration:none; }
div.search p.links a { padding-right:2ex; }
a.number { text-decoration:none; }
a.alias { text-decoration:none; border-bottom: thin dashed; }
a.footnote { font-size:50%; vertical-align:super }
span.bar a { margin-right:1ex; }

p.plink, li.plink {
    border: 2px solid #c8a8ff;
    padding: 2px;
}
p a.plink, li a.plink {
    display:none;
}
p:hover a.plink, p a:hover.plink,
li:hover a.plink, li a:hover.plink {
    text-decoration: none;
    display: inline;
    position:absolute;
    color: #a020f0; /* purple */
}

body.arrows a.near:before, body.arrows a.outside:before { content:"\2197"; }
body.arrows a.near, body.arrows a.outside { text-decoration:none; }

/* add every specific a here */
header h1 a:hover, h1 a:hover, h2 a:hover, h3 a:hover { color: #fbb; }
header h1 a:visited { color: #fff; }
a.definition:hover, a.near:hover, a:hover { color:#f00; }

dl.irc dt { width:20ex; float:left; text-align:right; clear:left; }
dl.irc dt span.time { float:left; }
dl.irc dd { margin-left:22ex; }

header {
    margin: 0;
}

h3 {
    font-weight:bold;
    font-size:medium;
    clear:left;
    color:#fff;
    background:#84d600;
    padding:0.3ex;
}

header span.gotobar {
    display:block;
    padding:1ex;
}
.message p, div.question {
    font-size: smaller;
    margin: 0;
    padding: 0 0 0.5ex 1ex;
}

header h1 {
    background-color:#517005;
    font-family: "Tahoma", "Arial", "Helvetica", sans-serif;
    font-size: xx-large;
    margin: 0;
    padding: 0.1em 0.5ex;
}

header h1 a {
    text-decoration:none; 
    color: #ffffff;
}

img.logo {
    float: right;
    height: 4em;
    border:none;
}

@media only screen and (max-width: 1200px) {
    img.logo {
	height: 3em;
    }
}

@media only screen and (max-width: 800px) {
    img.logo {
	height: 2em;
    }
}

.fit {
    max-width: 100%;
}

.right {
    float:right;
}

.left {
    float:left;
    margin-right: 8px;
}

.top {
	vertical-align: top;
}

.highlight {
    background-color: #ffa;
    font-style: normal;
    padding: 0 0.2em;
}

/* search box in the top bar */

form.tiny, form.tiny p {
	    display: inline;
	    white-space: nowrap;
}
form.tiny input {
	    padding: 0;
	    width: 10ex;
	    font-size: 70%;
}

div.right .right, div.left .left {
    float: none;
}

span.caption {
    display:block;
    margin: 0 1em 1em 1em;
}

a.small img {
    max-width:300px;
}

h1 {
    font-weight:bold;
    font-size:150%;
    clear:left;
    color:#fff;
    background:#69aa00;
    padding:0.7ex;
    text-decoration:none;
}

span.specialdays { 
    margin-left: 1em;
    color: #4c6b1b;
    font-style: italic;
}

h2 {
    font-weight:bold;
    font-size:130%;
    color:#fff;
    background:#69aa00;
    padding:0.7ex;
    clear:left;
}
/* Links in page titles */
h1 a, h2 a, div.journal h1 a {
    text-decoration:none; color:#fff;
}
h3 {
    font-weight:bold;
    font-size: 110%;
    clear:left;
    color:#fff;
    background:#84d600;
    padding:0.7ex;
}
h3 a, div.journal h2 a {
    text-decoration:none; color:#fff;
}

span.permanentanchor, a.definition {
    text-decoration:none; color:#000;
    border-bottom:thin dashed;
}

p > a.definition, p > span.permanentanchor {
    font-weight:bold; font-size:larger;
    color:#fff; background:#84d600; padding:0.7ex;
    text-decoration:none; display:block; margin-bottom:1ex;
    border-bottom:none;
}

div.footnotes hr {
    border:none;
    color:black;
    background-color:#000;
    height:1px; 
    margin-top:2ex;
}

div.footnotes hr + p {
    font-weight:bold;
}

footer {
    background-color: #cd9;
    border-bottom:solid;
    clear:    both;
    margin:  3em 0 0 0;
    padding:  1ex;
    border-top:2px solid;
    color:black;
}

footer hr {
    display:none;
}

/* License, definitions, near links */
.note, .more {
    font-size: 80%;
}
.more {
    margin: 1ex;
    margin-bottom: 3em;
}
div.near, div.definition {
    display: none;
}
#toggle_more:checked ~ div.near, #toggle_more:checked ~ div.definition {
    display: block;
}

/* Recent Changes */

div.rc { margin-top:4ex; }
div.rc hr { display:none; }

div.rc {
    overflow: hidden;
}
div.rc li + li {
    margin-top: 1em;
}
div.rc li strong, table.history strong, strong.description {
    font-family: inherit;
    font-weight: inherit;
}

/* Colour flags for anonymous edits */

.red {
    background: red;
    color: red;
}

.orange {
    background: orange;
    color: orange;
}

.yellow {
    background: yellow;
    color: yellow;
}

.green {
    background: green;
    color: green;
}

.blue {
    background: blue;
    color: blue;
}

.indigo {
    background: indigo;
    color: indigo;
}

.violet {
    background: violet;
    color: violet;
}

.white {
    background: white;
    color: white;
}

.ip-code {
    border: 1px solid #666;
}

/* Diff */

div.old { background-color:#ffd; }
div.new { background-color:#dfd; }
div.diff {
    padding-left:2ex;
    padding-right:2ex;
    border-style:dashed;
    width: 66%;
    margin:1em 2em;
}
div.diff + hr {
    display: none;
}

/* Referrers */

div.refer {
    padding-left:5%;
    padding-right:5%;
}
div.refer hr {
    display: none;
}

/* Sister Sites */

div.sister {
    float:left;
    margin-right:1ex;
    padding-right:1ex;
}
div.sister p { padding:1ex; margin:0; }
div.sister hr { display:none; }
div.near, div.definition { padding:1ex; margin:0; }
div.near p, div.definition p { margin: 0; }
footer + hr { display:none; }

/* Headers in Journal Pages (e.g. Blog) */

div.journal hr { display:none; }
div.journal h1, div.journal h2, div.journal h3, div.journal h4 {
    font-size:medium;
    border:0;
}

div.include {
    border-top: 1px dashed #ccd;
    border-bottom: 1px dashed #ccd;
    background-color: #d2f4b5;
}

span.description { font-weight:bold; }
span.new { display:inline; font-weight:bold; }

/* Tables in wiki content */

table.user {
    border-collapse:collapse;
    border: none;
    padding:1ex;
    margin-bottom:1ex;
    width:inherit;
    margin:0 5%;
    background-color: #efd;
}
/* table.user .even { */
/*     background-color: #efd; */
/* } */
/* table.user .odd { */
/*     background-color: #efe; */
/* } */
/* table.user .first { */
/*     background-color: #eff; */
/* } */
table.user td, table.user th {
    padding: 0.5ex 1em;
    border: none;
    text-align:left;
}
table.user th {
    padding: 1ex 1em;
    text-align: center;
}

/* Tables in page history */

table.history td[colspan="3"] {
    padding: 1em 0;
}

/* Lists (definitions list being used by IRC logs?) */

dt { font-weight:bold; }
dd {
    margin-bottom: 0.5ex;
    margin-left: 2em;
}
li {
    margin-bottom: 0.5ex;
    margin-left: 0;
}
dl, ol, ul { margin-left:0em; }

/* textarea, summary */

textarea {
    box-sizing: border-box;
    width:100%;
    padding:5pt;
    font-size: inherit;
}
textarea#text { height:70%; min-height: 20ex; }
textarea#summary { height:10%; min-height: 2ex; }

/* links to change from text to file and back */

form.edit a.svg, form.edit a.upload {
    padding: 0.5em;
    margin-right: 0.5em;
    background-color: #cfa;
    border: 1px solid #7a7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

/* images */

img { border:0; }
pre, img.portrait, img.upload {
    border: #777 1px solid; padding: 8px;
    white-space: pre;
    background-color: #fff; color: black;
    overflow: scroll;
}
a.smiley img.upload {
    border:none;
    margin:0;
    padding:0;
    background-color:inherit;
}

.color { min-height: 60px; }
img.portrait {
    float: left;
    margin-right: 8px;
}
div.portrait br { display: none }
div.portrait, div.portrait p { display: inline}
div.portrait p:after { content: ": " }
div.color > p:first-of-type { display: inline }
div.color { padding: 1ex 0.5ex 1em 0.5ex; }

.half img { max-width: 50%; }

/* indentation */
div.one {
    background-color: #efb;
}
div.level0, div.level0 div.portrait {
    margin-left: 0;
}
div.level1, div.level1 div.portrait {
    margin-left: 4em;
}
div.level2, div.level2 div.portrait {
    margin-left: 8em;
}
div.level3, div.level3 div.portrait {
    margin-left: 12em;
}
hr {
    display:block;
    clear: left;
}

/* 

== Printing ==

"@media print" is special: Everything in this section only applies
when the page is printed (or during print preview).  More information:
   
* http://www.w3.org/TR/css3-mediaqueries/

*/

@media print {
    /* When printing, turn off a bunch of stuff. */
    header span.gotobar,
    span.specialdays,
    div.refer,
    footer,
    div.near,
    div.definition,
    div.sister,
    div.languages,
    div.message,
    img.logo { display:none; }

    /* portraits */
    div.portrait {
	margin:0;
	padding:0;
	font-size:inherit;
	float:none;
	display:inline;
    }
    div.portrait + * { display:inline; }
    div.portrait p { margin:0; padding:0; display:inline; }
    div.portrait a.newauthor, div.portrait br { display:none; }
    div.portrait a.local:after { content:": "; }
    div.portrait a.local { color:inherit; }
    div.color {
	min-height:0;
	background: inherit;
    }
}

/*
== Languages stuff ==
*/

div.languages {
    border-top:1px solid;
    clear:both;
}
div.languages form {
    margin: 1em 1ex 3em 1ex;
}

span[lang=en], .en { background-color:#ddf; }
span[lang=fr], .fr { background-color:#fdd; }
span[lang=de], .de { background-color:#ffd; }
span[lang=it], .it { background-color:#dfd; }
span[lang=pt], .pt { background-color:#bfb; }
span[lang=es], .es { background-color:#fec; }
span[lang=sv], .sv { background-color:#adf; }

body.simple footer p.note,
body.simple footer span.gotobar + br,
body.simple footer span.gotobar,
body.simple div.sister,
body.simple div.near,
body.simple div.definition,
body.simple div.languages { display:none; }

body.explicit a.near[title=MeatBall]:before { content:"MeatBall:"; }
body.explicit a.near[title=Wiki]:before { content:"Wiki:"; }

body.nolang span[lang] { background-color:inherit; }

body[class~=en] span[lang] { display:none; }
body[class~=de] span[lang] { display:none; }
body[class~=fr] span[lang] { display:none; }
body[class~=it] span[lang] { display:none; }
body[class~=pt] span[lang] { display:none; }
body[class~=en] span[lang=en] { display:inline; }
body[class~=de] span[lang=de] { display:inline; }
body[class~=fr] span[lang=fr] { display:inline; }
body[class~=it] span[lang=it] { display:inline; }
body[class~=pt] span[lang=pt] { display:inline; }

span.debug { display:none; }

table.aside {
    float: right;
    width: 20ex;
    padding: 0;
    margin: 0 0 0 2ex;
    border: 1px dashed #666;
}

.aside ul {
    padding: 0;
}

table.aside tr td, table.aside tr th {
    border: none;
}
