body {
    background-color:rgb(255,250,240);
    color:rgb(139,69,19);
    font-size:18pt;
    font-family: sans-serif;
    letter-spacing:.1ex;
    padding: 1em;
}

img.logo {
    float:right;
    margin:0;
    padding:0;
    border:1px solid #000;
    background-color:rgb(255,250,240);
}

a {
    color:firebrick;
}

h1 a {
    color:DarkOliveGreen;
    text-decoration:none;
}

h1 {
    font-size:48pt;
    color:DarkOliveGreen;
    background-color:LemonChiffon;
    padding:10px;
    margin:0 0 1ex 0;
    border: 2px solid DarkKhaki;
    clear:both;
}

h2 {
    color:DarkOliveGreen;
    font-size:30px;
    margin:3ex 0;
    border-bottom:2px solid DarkOliveGreen;
    clear:both;
}

h3 {
    color:black;
    font-size:22px;
    margin:3ex 0;
    text-decoration:underline;
    clear:both;
}

div.diff { padding-left:5%; padding-right:5%; }
div.old { background-color:#FFFFAF; color:#000; }
div.new { background-color:#CFFFCF; color:#000; }
div.refer { padding-left:5%; padding-right:5%; font-size:smaller; }
div.message { background-color:#FEE; color:#000; }
table.history { border-style:none; }
td.history { border-style:none; }

table.user { 
    border-collapse:collapse;
}
table.user td, table.user th {
    border:solid 1px rgb(139,69,19);
    padding:0.5ex;
    margin:0;
    text-align:left;
}
form table td {
    padding:5px;
}

span.gotobar a {
    padding-right:1ex;
}

div.header span.gotobar { 
    margin-bottom:1em;
    padding-bottom:3px;
    font-weight:bold;
    display:block;
}
div.header span.gotobar a {
 text-decoration:none;
}

div.footer {
    color:DarkOliveGreen;
    background-color:LemonChiffon;
    padding:10px 10px 0 10px;
    margin-top:5ex;
    border: 2px solid DarkKhaki;
    clear:both;
    font-size: 16pt;
}

div.footer span.edit {
    display: block;
}

div.footer a {
    color:inherit;
}

span.time, span.edit a.history, span.edit a.admin, span.edit a.rc,
div.footer span.edit br, div.footer span.gotobar, div.footer hr {
    display:none;
}

textarea { width:100%; height: 10em; }
textarea#summary { height:3em; }
div.edit p + p { display:none; } /* the first one remains visible */
div.edit p + p + p + p { display:block; } /* up to the edit note */
div.edit p + p + p + p + p { display:none; } /* the rest */
div.edit p + p + p + p + p + p { display:block; } /* the rest */

input[name="username"]:after {
    content:"\A";
}

span.result { font-size:larger; }
span.info { font-size:smaller; font-style:italic; }

div.rss { background-color:#EEF; color:#000; }
div.rss a:link { background-color:#EEF; color:#00F; }
div.rss a:visited { background-color:#EEF; color:#A0A; }
div.rss a:active { background-color:#EEF; color:#F00; }

a.links { float:left; margin:1em; }
a.rechts { float:right; margin:1em; }

@media print {
    body { font-size:12pt; color:black; }
    pre, code, tt { font-size:8pt; font-family: Courrier, monospace;} 
    h1, h2, h3, h4, h5 { font-size:14pt; color:black; }
    h1 { font-size: 18pt; padding: 0; }
    h1, h2 { border:none; }
    h1 a { color:black; }
    a { text-decoration:none; color:black; }
    div.header span.gotobar,
    span.specialdays,
    div.refer,
    div.footer,
    div.near,
    div.definition,
    div.sister,
    body.admin div.footer { display:none; }
}
