/* This file is in the public domain. */

/* Esteban is nice, but bold is not so nice, and on Windows it suffers.
   @import url(http://fonts.googleapis.com/css?family=Esteban&subset=latin,latin-ext);

   For campaignwiki.org, we need to use the same URL in the config file when
   calling wkhtmltopdf. */

@import url(https://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700italic,700&subset=latin,latin-ext);

body {
	font-family: "Noticia Text", Times, serif;
	font-size: 14pt;
	color: #000;
	background-color: #eed;
	margin:1em 2em;
}

@media print {
	body {
        	background-color: white;
		font-family: Times, serif;
		font-size:10pt;
	}
}

/* iPhone */

@media only screen and (max-device-width: 480px) {
	img  { max-width: 480px !important; }
}

/* iPad */

@media only screen and (min-device-width: 481px) and (max-device-width: 900px) {
	body  { font-size: 150%; }
	textarea,input { font-size: 100%; }
	img  { max-width: 550px !important; }
}

/* general */
.browse { min-height: 3em; }
/* .header form, .header p { margin: 0; display: inline; white-space: nowrap; }*/
.header { padding-right: 10em; }
.header form.search { position: absolute; top: 0; right: 2em; }
.header form.matchingpages { position: absolute; top: 2em; right: 2em; }
label[for="searchlang"], #searchlang, input[type="submit"] { display: none; }
.header input { width: 10ex; }
input { font-size: 80%; line-height: 125%; }
}

.footer { clear:both; font-size: 90%; }

/* comments, footer */
div.commentshown {
	padding-bottom: 1ex;
	padding-left: 2em;
	border-left: 2px solid black;
	font-size: smaller;
}
div.commenthidden { display:none; }
div.commentshown { display:block; }
/* comment pages with username, homepage, and email subscription */
.comment span { display: block; }
.comment span label {
	display: inline-block; width: 10em;
}
input#mail, input#homepage, input#username {
	display: inline-block; width: 20em;
}

/* titles */
h1 {
    font-weight: bold;
    font-size: 150%;
    padding: 1em 0;
}
h1 a:link, h1 a:visited {
	color: inherit;
	background-color: inherit;
	text-decoration: inherit;
}
h2 {
	font-weight: bold;
	font-size: 130%;
	padding: 1em 0;
	clear: both;
}
@media print {
	h1 a, h2 a, h3 a, h4 a { font-style: normal; }
}

/* links */
a:link {
	color: #851;
	background-color: inherit;
}
a:visited {
	color: #542;
	background-color: inherit;
}
a:active {
	color:#a41;
	background-color: inherit;
}
.button {
	display: inline-block;
	font-size: 150%;
	cursor: pointer;
	padding: 0.3em 0.5em;
	text-shadow: 0px -1px 0px #ccc;
	background-color: #cfa;
	border: 1px solid #9d8;
	border-radius: 5px;
	box-shadow: 0px 1px 3px white inset,
	            0px 1px 3px black;
}
.button a {
	text-decoration: none;
	font-weight: normal;
}
.bar a { padding-right: 1em; }
@media print {
	a, a:link, a:visited {
		color:#000;
		text-decoration:none;
		font-weight: normal;
	}
	a.edit, div.footer, form, span.gotobar, a.number span { display:none; }
	a[class="url number"]:after, a[class="inter number"]:after {
		content:"[" attr(href) "]";
	}
	a[class="local number"]:after { content:"[" attr(title) "]"; }
	img[smiley] { line-height: inherit; }
}

/* edit paragraphs */
a.pencil {
    padding-left: 1ex;
    text-decoration: none;
    color: inherit;
    visible: hidden;
    transition: visibility 0s 1s, opacity 1s linear;
    opacity: 0;
}
*:hover > a.pencil {
    visible: visible;
    transition: opacity .5s linear;
    opacity: 1;
}
@media print {
    a.pencil {
	display: none;
    }
}
table a.pencil {
    position: absolute;
    right: inherit;
}

/* table of contents */
.toc {
    font-size: smaller;
    border-left: 1em solid #886;
}
.toc ol {
    list-style-type: none;
    padding-left: 1em;
}
.toc a {
    font-weight: normal;
}

/* images with links, captions, etc */
div.image { display: inline; margin: 1em; font-size: 90%; text-align: center; }
.left { float: left; margin-right: 1em; }
.right { float: right; margin-left: 1em; }
div.right .right { float: none; }
div.left .left { float: none; }
.caption { padding: 0 1em; }
.license { font-size: small; }
.aside {
	font-size: small;
	width: 30%;
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
	padding-left: 1em;
}
.aside img.smiley { height: 1em; }
.narrow {
	width: 70%;
}

a img { border: 1px solid #333; }
.fit img { width: 80%; text-align: center; margin: 2em 8%; }
.half img { width: 50%; height: 50%; text-align: center; margin: 2em 8%; }
.noborder img { border: none; }
.twenty img { max-width: 20em; }
img.logo {
	float: right;
	clear: right;
	border-style:none;
	margin-left: 1em;
	margin-bottom: 1ex;
	border: 1px solid black;
}

/* fancy bold underline */
em.underline { font-weight: bold; }

/* editing, previewing */
textarea { width:100%; }
div.edit { padding-right: 1em; }
div.diff { padding-left:5%; padding-right:5%; }
div.old { background-color:#FFFFAF; }
div.new { background-color:#CFFFCF; }
/* div.message { background-color:#FEE; } */
div.message {
	background-color: inherit;
	font-size: smaller;
}
table.history { border-style:none; }
td.history { border-style:none; }
span.result { font-size:larger; }
span.info { font-size:smaller; font-style:italic; }
div.rc hr { display: none; }
div.rc li { padding-bottom: 0.5em; }

/* Tables */
table.user {
    margin: 1em 0;
    padding: 0 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
 }
div.aside table.user {
	    margin: 1em 0;
	    padding: 0;
}
table.user td, table.user th {
    border-style: none;
    padding:5px 10px;
    vertical-align: top; 
}
table.user th { font-weight:bold; }
table.user td.r { text-align:right; }
table.user td.l { text-align:left; }
table.user td.c { text-align:center; }
table.user td.j { text-align:justify; }
table.user td.mark { background-color:yellow; }
tr:empty { display: block; height: 0.5em; }
@media print {
	table {
        	font-size: 9pt;
		margin: 0;
	}
	table.user td, table.user th {
		padding: 0 1ex;
	}
}

/* Calendar */
div.month { margin:0; padding:0; font-size:x-small; float:right; }
div.content div.month { float:none; }
div.year div.month { float:left; font-size:medium; padding:1ex; }
div.month pre { margin:0; padding:0 0 0 1ex; }
div.month a { text-decoration:none; font: inherit; }
div.month span.title a { font: inherit; }
/* no difference between a.exact and a.collection */
div.month a.local { font-weight: bold; }
div.month a.local:link { color: #562; }
div.month a.local:visited { color: #542; }
div.month a.today { background-color: #faa; }
div.month span.title a.local { font-weight: normal; color: #842; }
@media print {
	div.month { display: none; }
	div.year div.month { display: block; }
	div.year div.month a { display: inline; }
}
