div.diff { padding-left:5%; padding-right:5% }
div.old { background-color:#FFFFAF }
div.new { background-color:#CFFFCF}
div.refer { padding-left:5%; padding-right:5%; font-size:smaller; }
div[class="content refer"] p { margin-top:2em; }
div.content div.refer hr { display:none; }
div.content div.refer { padding:0; font-size:medium; }
div.content div.refer p { margin:0; }
div.refer a { display:block; }
table.history { border-style:none; }
td.history { border-style:none; }
table.user { border-style:solid; border-width:thin; margin-left:5%; }
table.user tr td { border-style:solid; border-width:thin; padding:5px; }
dt { font-weight:bold; }
dd { margin-bottom:1ex; }
textarea { width:100%; height:80%; }
textarea#summary { height: 3em; }
img.logo {
    float: right;
    clear: right;
    border-style:none;
    background-color:#fff;
}
img {
    border: #777777 1px solid;
    padding: 0.5em;
    margin: 0 1em;
    background-color: #e6e6e6;
    color: black;
}
div.image span.caption {
    margin: 0 1em;
}
li img, img.smiley, .noborder img {
    border:none;
    padding:0;
    margin:0;
    background:#fff;
    color:#000;
}
/* Google +1 */
a#plus1 img {
    background-color: #fff;
    padding: 0;
    margin: 0;
    border: none;
}

div.header img, div.footer img { border:0; padding:0; margin:0; }

.left { float:left; }
.right { float:right; }
div.left .left, div.right .right {
    float:none;
}
.center { text-align:center; }

span.author {
    color: #501;
}
span.bar a {
	padding-right:1ex;
}
body {
    background:#fff;
    padding:2% 5%;
    margin:0;
    font-family: "Bookman Old Style", "Times New Roman", serif;
    font-size: 12pt;
}
body.large {
    font-size:18pt;
}
body.sans {
    font-family: "DejaVu", "Verdana", sans;
}
a {
    text-decoration:none;
    font-weight:bold;
    color:#c00;
}
a:visited { color:#c55; }

.rc .author {
    font-weight: normal;
    color: #666;
}
.rc .dash {
    display: none;
}
.rc strong {
    font-weight: normal;
    color: inherit;
    display: block;
}
.rc li {
    position:relative;
    padding-right: 5em;
}
.rc .lang {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.rc .type {
    position: absolute;
    top: 1.16em; /* don't forget line-height */
    right: 0;
    z-index: 2;
    background:#fff; /* covers language if no summary */
    padding: 0.1em 0 0.1em 1em;
}

div.header h1 a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover,
a:hover, span.caption a.image:hover {
    background:#000000;
    color:#FFFFFF;
}
a.image:hover {
    background:inherit;
}
a.image:hover img {
    background:#ccc;
}

p a.definition {
    color:#666;
    padding: 2px;
    margin-top: 5px;
    border-bottom: 2px solid #000000;
    text-decoration:none;
    display:block;
    clear:both;
}
h2 {
    clear:both;
}
p a.definition:hover {
    background:#000000;
    color:#FFFFFF;
}

h1, h2, h3, h4,
h1 a, h2 a, h3 a, h4 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited {
    color:#666;
}
h1, h2, h3, h4 { font-size:medium; margin:4ex 0 1ex 0; padding:0; }
h1, h2 { border-bottom: 2px solid #000; }
h3 { border-bottom: 1px dashed #000; }

div.header h1 {
    font-size:xx-large; margin-top:1ex;
    border-bottom: 5px solid #000;
}

hr {
    border:none;
    color:black;
    background-color:#000;
    height:2px; 
    margin-top:2ex;
}

div.footer hr { height:4px; }

pre {
    border: #777777 1px solid;
    padding: 0.5em;
    margin-left: 1em;
    margin-right: 2em;
    white-space: pre;
    background-color: #e6e6e6;
    color: black;
    overflow:hidden;
    font-size: smaller;
}

body.magenta a { color:#639; }

div.rss li span.time { display:none; }
div.rss .description { font: medium monospace; display:inline; }

div.month {
    float:right;
    margin:0;
    padding:0 1ex;
}
div.year div.month { float:left; }
div.cal pre {
    margin:0;
    padding:1ex;
    background-color:#ffe;
}
div.cal a { text-decoration:none; }
div.cal a.edit {
    background-color:inherit;
    font-weight:normal;
}
div.cal a.local {
    background-color:#fee;
}
div.cal a.today { background-color:#fdd; }
div.cal a:hover {
    color:#fff;
    background-color:#000;
}

div.sidebar {
    float:left;
    border-right:1px solid black;
    padding: 0.5ex 1ex 1ex 0;
    margin: 0 1ex 1ex 0;
}
div.footer hr {
    clear:both;
}

@media print {
body { font:11pt "Neep", "Arial", sans-serif; }
a, a:link, a:visited { color:#000; text-decoration:none; font-style:oblique; font-weight:normal; }
h1 a, h2 a, h3 a, h4 a { font-style:normal; }
a.edit, div.footer, div.refer, form, span.gotobar, a.number span { display:none; }
a[class="url number"]:after, a[class="inter number"]:after { content:"[" attr(href) "]"; }
a[class="local number"]:after { content:"[" attr(title) "]"; }
img[smiley] { line-height: inherit; }
pre { border:0; font-size:10pt; }
}
