/* from http://de.veganwiki.org/wiki.css
   modified by alex@emacswiki.org
 */

a:active {
	color: #ffffff
}
a:link {
	color: #000000; text-decoration: underline
}
a:visited {
	color: #003300; text-decoration: underline
}
a:hover {
	color: #0000aa;
}
body {
	margin: 0px 0px -8px -8px;
	padding: 0 0 0 0;
	background-color: #ffddaa;
	color: #000000;
	font-family: verdana,"courier new",verdana,arial,helvetica,sans-serif;
	font-size: 75%;
	line-height: 150%;
}
img.logo {
	float:right;
	margin:1ex;
}

body body h1, body form {
        padding-left: 15px;
}

div.header {
	padding: 3px 0px 0px 15px;
	background-color: #ffaa66;
	border-top: #ccc 0px solid;
	border-right: #999 0px solid;
	border-bottom: #999 0px solid;
	border-left: #ccc 0px solid;
}
div.footer {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 15px;
	background-color: #ff9966;
	border-top: #ccc 0px solid;
	border-right: #999 0px solid;
	border-bottom: #999 0px solid;
	border-left: #ccc 0px solid;
}
div.footernote {
   	margin: 0 0px -10px -15px;
	padding: 5px 0px 15px 15px;
	background-color: #ee6633;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 75%;
}
div.content, div.edit, div.rc, div.preview {
	margin: 0 0 0 0;
	padding: 5px 40px 10px 15px;
	background-color: #ffddaa;
	border-right: #999 0px solid;
	border-top: 0px;
	border-left: #ccc 0px solid;
	border-bottom: #999 0px solid;
}
div.content, div.content p, div.content ul, div.content dl, div.content td, p, li, ul, dl, td, div.sidebar {
	font-family: verdana,arial,helvetica,sans-serif;
	line-height: 150%;
}

div.sidebar {
        float: right;
        clear: none;
        width: 150px;
        margin: 5px 5px 50px 50px;
        padding: 15px 15px 15px 15px;
        background-color: #f7e7c6;
        border-top: 5px #eecc99 solid;
        border-bottom: 5px #eecc99 solid;
        border-left: 1px #eecc99 solid;
        border-right: 1px #eecc99 solid;
        z-index: 1;
        font-size: 95%;
}
div.sidebar hr {
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 1px;
	border: 1px #ddbb66 solid;
	z-index: 0;
	color: #ff0000;
}
div.sidebar img.inline {
	margin 2px 2px 2px 2px;
        border: 0px;
}
div.sidebar ul {
        margin-left: 20px;
        list-style: square;
}
h1 {
        margin: 0.2em -15px 0px;
	padding: 10px 0px 10px 16px
	color: #003300;
	border-top: #999 0px solid;
	border-bottom: #ccc 0px solid;
   	border-left: 0px;
	font-family: verdana,arial,helvetica,sans-serif
	font-size: 120%;
}

div.header h1 {
	margin: 0.2em -15px 0px;
	margin-right: 0px;
	padding: 7px 15px 7px 15px;
        background-color: #ee6633;
	color: #003300;
	border-top: #999 0px solid;
	border-bottom: #ccc 0px solid;
	border-left: 0px;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 150%;
	letter-spacing:0px;
	word-spacing: 0px;
	font-weight: normal;
}

div.header h1 a:link, div.header h1 a:visited, div.header h1 a:active, div.header h1 a:hover
{
        text-decoration: none;
}

div.content h1 {
	margin: 0.2em -15px 0px;
	padding: 30px 15px 5px 15px;
	color: #000000;
	border: 0 0 0 0;
	border-top: #ff9966 18px dotted;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 150%;
	letter-spacing:0px;
	word-spacing: 0px;
	font-weight: bold;
}
h2 {
	margin: 1.5em 0 0.6em 0;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 130%;
	line-height: 250%;
	color: #663300;
}
h3 {
	margin-bottom: 0.1em;
	font-size: x-small;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 120%;
	color: #996633;
}
h4 {
	margin-bottom: 0.3em;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 110%;
	color: #bb9966;
}

div.content p, div.content ul, div.content dl {
   padding-right: 0%;
}
div.content ul ul, div.content ul ul ul, div.content ul ul ul ul {
   padding-right: 0%;
}
div.content ul, div.content dl {
   line-height: 150%;
}
div.rc, div.rc p, div.rc ul, div.rc dl, div.rc td {
	font-family: verdana,arial,helvetica,sans-serif;
	line-height:150%;
}
pre, div.content pre {
	font-size: 95%;
	font-family: verdana,arial,helvetica,sans-serif;
        line-height: 120%;
	border: 1px #eecc99 solid;
	border-left: 5px #eecc99 solid;
	border-right: 5px #eecc99 solid;
	background-color: #ffe5b5;
	margin: 0 0 0 0;
	padding: 5px;
	color: #331100;
};
dd.quote, div.content dd.quote {
	font-size: 95%;
	font-family: verdana,arial,helvetica,sans-serif;
        line-height: 120%;
	border: 1px #eecc99 solid;
	border-left: 5px #eecc99 solid;
	border-right: 5px #eecc99 solid;
	background-color: #ffe5b5;
	margin: 0 0 0 0;
	padding: 5px;
	color: #331100;
};
img, div.content img, div.content img.inline {
	margin 25px 25px 25px 25px;
	padding 15px 15px 15px 15px;
        border: 0px;
}
div.header hr, div.footer hr {
	visibility: hidden;
	height: 0px;
	border-top: medium none;
	border-right: medium none;
	border-bottom: medium none;
	border-left: medium none;
}
hr, div.content hr, div.rc hr, div.edit.hr {
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	height: 3px;
	border: 3px #ffcc99 solid;
	z-index: 0;
	color: #ff0000;
}
div.editnote {
border-right: #999 1px solid; padding-right: 15px; border-top: #ccc 1px solid; margin-top: 0px; padding-left: 15px; padding-bottom: 15px; border-left: #ccc 1px solid; padding-top: 15px; border-bottom: #999 1px solid; background-color: #ffcc99;
}
div.refer {
   padding: 0 15px 0 15px;
}
div.message {
border-right: #999 1px solid; padding-right: 15px; border-top: 0px; margin-top: 0px; padding-left: 15px; padding-bottom: 15px; border-left: #ccc 1px solid; padding-top: 15px; border-bottom: #999 0px solid; background-color: #ffcc99;
}
div.wikipreview {
border-right: #999 1px solid; border-top: #ccc 1px solid; padding-left: 15px; border-left: #ccc 1px solid; border-bottom: #999 1px solid; background-color: #ffcc99;
}
div.wikirc {
border-right: #999 1px solid; border-top: #ccc 1px solid; padding-left: 15px; border-left: #ccc 1px solid; border-bottom: #999 1px solid; background-color: #ffcc99;
}
div.wikipref {
border-right: #999 1px solid; border-top: #ccc 1px solid; padding-left: 15px; border-left: #ccc 1px solid; border-bottom: #999 1px solid; background-color: #ffcc99;
}
table, td, tr, th {
        border: 1px solid #999;
}
div.footnotes
{
        font-size:80%;
        margin: 0px 0px 0px 15px;
        padding: 0px 0px 0px 15px;
}
div.footnotes hr
{
  	visibility:hidden;
  	margin: 0px 0px 0px 0px;
	padding: 0px 0 0px 0;
	height: 0px;
	border: 0px #99bbff solid;
	z-index: 0;
	color: #0000ff;
}
a.footnote, a.footnote:visited, a.footnote:active, a.footnote:hover {
        font-size:85%;
        vertical-align:20%;
        text-decoration:none;
}
div.footnotes a:link, div.footnotes a:visited, div.footnotes a:active, div.footnotes a:hover
{

}
div.sister {
    padding: 0 15px 0 15px;
}
div.sister a {
	padding-right: 10px;
}