Maintainer: Alex Schroeder <alex@oddmuse.org>
Section: web
Priority: optional
Standards-Version: 3.5.10

Package: oddmuse
Architecture: any
Depends: httpd, perl5, perl-modules
Suggests: libwww-perl, libxml-rss-perl, libmime-base64-perl, diff
Description: wiki engine
  A "wiki" is a website that is usally collaboratively edited
  by its users, including the ability to alter text written by
  other users.  It is a simple and efficient content management
  system (CMS).
